<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="Testing" value="true" />
    <add key="TestingTimerInterval" value="15000" />
    <add key="TimerInterval" value="30000" />
    <add key="Graph_API_Endpoint" value="https://graph.microsoft.com/v1.0" />
    <add key="Username" value="mailbox@productiontenant.onmicrosoft.com" />
    <add key="TestUsername" value="testmailbox@testtenant.onmicrosoft.com" />
    <add key="AuthorityUri" value="https://login.microsoftonline.com/{ProductionTenantID}" />
    <add key="TestAuthorityUri" value="https://login.microsoftonline.com/{TestTenantID}" />
    <add key="Resource" value="https://graph.microsoft.com" />
    <add key="Client_ID" value="ProductionApplicationId" />
    <add key="Test_Client_ID" value="TestApplicationId" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="defaultLayout" value="${longdate} ${logger} ${message} ${exception:format=tostring}" />
    <targets>
      <target name="file" xsi:type="File" layout="${defaultLayout}" fileName="C:\Rapid7Alerts\Logs\${shortdate}.log" />
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${defaultLayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>